spring:
  datasource:
    url: jdbc:mysql://localhost:3306/molelawdb?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: dev
    password: devpass
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update  # 또는 create, validate 등 선택
    show-sql: true

  springdoc:
    api-docs:
      path: /v3/api-docs
    swagger-ui:
      path: /swagger-ui.html
      operationsSorter: method
      tagsSorter: alpha
      tryItOutEnabled: true

openai:
  api-key: ${OPENAI_API_KEY}
